/Aulas
/Dados
/my_app
/Scripts
shapiro_test_report.png
.vscode/settings.json
Modelos/PBFREPXFREQESC.PY
Modelos/PBFREPXTRABINFANT.PY
Nova pasta/my_app/1_🏠_Hello.py
Nova pasta/my_app/WEBAPP.py
Nova pasta/my_app/func/conxdb.py
Nova pasta/my_app/func/input.py
Nova pasta/my_app/func/__pycache__/conxdb.cpython-312.pyc
Nova pasta/my_app/func/__pycache__/input.cpython-312.pyc
Nova pasta/my_app/pages/2_💰_Fluxo.py
Nova pasta/my_app/pages/3_🎭Projetos.py
Nova pasta/my_app/pages/4_📝_Cadastro.py
.gitignore
